:root {
    --primary-color:#6594B1;
    --secondary-color:#ECECEC;
    --tertiary-color:#FACE68;
    --base-color:white;
}

* {
margin:0;
padding:0;
font-family: "Roboto", sans-serif;
}
.container {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 1fr 1fr 5fr 4fr 1fr ;
}
.sidebar {
background-color: var(--primary-color);
grid-row: 1/6;
font-weight: bold;
color: white;
}

.header {
background-color: var(--base-color);
grid-row: 1/2;
grid-column: 2/4;
}
.greetings {
background-color: var(--base-color);
grid-row: 2/3;
grid-column: 2/4;
}
.project {
background-color: var(--secondary-color);
grid-row: 3/6;
grid-column: 2;
}
.announce {
background-color: var(--secondary-color);
grid-row: 3/4;
grid-column: 3;
}
.trending {
background-color: var(--secondary-color);
grid-row: 4/6;
grid-column: 3;
}
i {
filter: contrast(0) brightness(2);
vertical-align: middle;
font-size: 20px;
}

/* sidebar */
.wrapper {
    display: grid;
    gap: 45px;
    margin-left: 25px;
}
.dashboard {
    margin-top: 15px;
}
.dashboard i {
    font-size: 30px;
}
.dashboard p {
    display: grid;
    grid-template-columns: 35px 25px ;
    font-size: 25px;
}
.sideone, .sidetwo  {
    display: grid;
    gap:15px;
}
.sideone p, .sidetwo p{
    display: grid;
    grid-template-columns: 35px 25px ;
    font-size: 18px;
}

/* HEADER */

.header {
    margin-top: 15px;
}
.box {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header span {
    filter: contrast(0) brightness(0);
    color: var(--secondary-color); 
    font-size: 25px; 
}

.search-bar {
    background-color: #CBCBCB;
    border-radius: 15px;
    width: 600px;
    height: 30px;
    opacity: 40%;
}
.header ul {
    list-style-type: none;
}
.search {
    display: grid;
    grid-template-columns: 35px 25px;
    margin-left: 25px;
    align-self: center;
}
.search i {
    margin-top: 5px;
}
.left {
    display: grid;
    grid-template-columns: repeat(2,55px) 1fr;
}
.left li {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    align-self: center;
}

#catone {
clip-path: circle();
width: 40px;
}

/* GREETINGS */
#catwo {
    clip-path: circle();
    width: 70px
}
.greetings {
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.boxone {
    display: grid;
    margin-left: 25px;
    grid-template-columns: 1fr 7fr;
     font-weight: bold;
}
.names {
    display: grid;
    grid-template-rows: 20px 20px;
}
#fullname {
    font-size: 22px;
}
#greet {
    font-size: 13px;
}
.boxtwo {
    display: grid;
    grid-template-columns: repeat(3,90px) ;
    text-align: center;
    margin-top: 12px;

}
.new {
    display: grid;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    align-items: center;
}
/* CARDS */


.project .cards {
  background-color: var(--base-color);
  color: black;
  margin: 15px;
}
.cards p {
  color: black;
  font-weight: normal;
  font-size: 14px;
   margin: 20px;
}

.cards .title {
  font-size: 16px;
  font-weight: bold;
}
.project  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.cards {
    height: 200px;
    border-radius: 15px;
    border-left: 10px solid var(--tertiary-color) ;
}
.cards span {
    font-size: 25px;
    margin-left: 15px;
}
.cards .picones {
    margin-left:200px ;
    margin-bottom: 40px;
}
.ptitle {
    margin-top: 15px;
    margin-left: 15px ;
    font-size: 18px;
}

/* ANNOUNCE */
.atitle {
    font-size: 18px;
     margin-top: 18px;
    margin-left: 10px ;
}

.awrap {
    display: grid;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--base-color);
    gap: 15px;
    height: 250px;
    padding: 30px;
    margin-top: 16px;
    
}
.subject .heading {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.announce p {
    font-size: 10px;
}
.subject.one, .subject.two {
    border-bottom: 1px solid black;
}
/* TRENDING */
.ttitle {
    font-size: 18px;
    margin-left: 10px ;
    margin-top: 20px;
}

.usernames  {
    display: grid;
    grid-template-columns: 50px 200px;
    margin-left: 35px;
    align-items: center;
  
} 
.tcats {
    clip-path: circle();
    width: 40px;
    align-items: center;
}
.trending div {
    display: grid;
    gap: 5px;
    margin-top: 5px;
}
.tnames{
    font-size: 14px;
}
.usernames .one {
    margin-top: 10px;
}
.twrap {
    display: grid;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--base-color);
    width:250px ;
    height: 310px;
}