* {
margin:0;
padding:0;
font-family: "Roboto", sans-serif;;
}
.container {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
}
.sidebar {
background-color: #E1AFD1;
grid-row: 1/6;
font-weight: bold;
color: white;
}

.header {
background-color: white;
grid-row: 1/2;
grid-column: 2/4;
}
.greetings {
background-color: #AD88C6;
grid-row: 2/3;
grid-column: 2/4;
}
.project {
background-color: #7469B6;
grid-row: 3/6;
grid-column: 2;
}
.announce {
background-color: #F5AFAF;
grid-row: 3/4;
grid-column: 3;
}
.trending {
background-color: #FDACAC;
grid-row: 4/6;
grid-column: 3;
}
i {
filter: contrast(0) brightness(2);
vertical-align: middle;
font-size: 20px;
}

/* sidebar */
.wrapper {
    display: grid;
    gap: 45px;
    margin-left: 25px;
}
.dashboard {
    margin-top: 15px;
}
.dashboard i {
    font-size: 30px;
}
.dashboard p {
    display: grid;
    grid-template-columns: 35px 25px ;
    font-size: 25px;
}
.sideone, .sidetwo  {
    display: grid;
    gap:15px;
}
.sideone p, .sidetwo p{
    display: grid;
    grid-template-columns: 35px 25px ;
    font-size: 18px;
}

/* HEADER */

.header {
    margin-top: 15px;
}
.box {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.header i {
    filter: contrast(0) brightness(1);
    color: #969696; 
    font-size: 20px; 
}

.search-bar {
    background-color: #F0C1E1;
    border-radius: 15px;
    width: 600px;
    height: 30px;
    opacity: 40%;
}
.header ul {
    list-style-type: none;
}
.search {
    display: grid;
    grid-template-columns: 35px 25px;
    margin-left: 25px;
    align-self: center;
}
.search i {
    margin-top: 5px;
}
.left {
    display: grid;
    grid-template-columns: repeat(2,55px) 1fr;
}
.left li {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    align-self: center;
}
#catone {
clip-path: circle();
width: 40px;
}
/* GREETINGS */
#catwo {
    clip-path: circle();
    width: 70px
}
.greetings {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* margin-top: 15px; */
    font-weight: bold;
}
.boxone {
    display: grid;
    margin-left: 25px;
    grid-template-columns: 1fr 7fr;
}
.names {
    display: grid;
    grid-template-rows: 30px 30px;
}